.container-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  text-align: center;
}
.edit-label {
  margin: 30px 60px;
  width: 31.25em;
  color: #169b75;
}
.edit-label input,
select {
  width: 31.25em;
  height: 2.4em;
  border-radius: 1px;
  outline: none;
  color: rgb(204, 204, 204);
  background-color: #2d4d43;
  border: none;
}

.btn-edit button {
  margin: 0.625em;
  width: 6.25em;
  outline: none;
  border-radius: 10px;
}
.btn-edit .btn-uno {
  background-color: #169b75;
  color: white;
}
.btn-edit .btn-dos {
  background-color: rgb(255, 0, 0);
  color: white;
}
